.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bordered {
  border: 2px solid black;
}


/* Colors: */

.blue-one {
  background-color: #000033;
}

.blue-two {
  background-color: #000066;
}

.blue-three {
  background-color: #000099;
}

.blue-four {
  background-color: #0000CC;
}
  
.blue-five {
  background-color: #0000FF;
}

.green-one {
  background-color: #003300;
}

/* ... */

.green-five {
  background-color: #00FF00;
}

.red-one {
  background-color: #330000;
}

.red-two {

}

.red-three {

}

.red-four {

}

.red-five {
  background-color: #FF0000;
}

